.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 30%;
  margin: 0 auto;
}

nav input {
  width: 100%;
  outline: none;
}

nav button {
  width: 29%;
  margin: 0 auto;
  display: block;
}

main {
  width: 70%;
  margin: 0 auto;
  border: 10px solid #7D6E83;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.productDiv {
  border: 5px solid #D0B8A8;
  border-radius: 20px;
  max-width: 300px;
  margin: 5px;
  text-align: center;
}

.productDiv h4 {
  /* display: inline; */
  text-align: center;
  width: 30%;
  font-size: 19px;
  border-radius: 10px;
  margin: 5px auto;
  background-color: #FF1E1E;
  padding: 5px;
  color: white;
}

.productDiv img {
  width: 90%;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}